
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

* {
  /*-webkit-transition: all 1s;*/
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Vollkorn', serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-app {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

#main-app > .row {
  height: 100%;
}

.statusbar {
  background-color: #BBBBBB;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 0 30px;
}

.statusbar .status-message {
  line-height: 50px;
  margin: 0;
}
