button.jumbotron {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
  text-align: left;
}

button.jumbotron:hover {
  color: #ffffff;
  -webkit-transition: background-color .4s !important;
  background-color: #40D2C3;
}

.m-date {
  font-size: 10px;
}

button.jumbotron:hover h3{
  color: #fbfbfb;
}
button.jumbotron:hover p{
  font-weight: 400;
}

.m-note-area {
  margin-top: 100px;
}

.clear {
  clear: both;
}

.m-contain {
  margin-left: 48px;
  margin-right: 48px;
}

.f-tools {
  float: left;
  margin-right: 25px;
  padding-top: 10px;
  margin-bottom: 40px;
}

.m-editor {
  margin-top: 150px;
  clear: both;
}
.m-editor textarea {
  height: 55%;
  width: 100%;
  resize: none;
  background-color: transparent;
  border: none;
  line-height: 1.6 !important;
  font-size: 1em !important;
  font-size: 1.4em;
  font-weight: 100;
  display: block;
  min-height: 407px;
}

.m-editor textarea:focus {
  outline: none;
}

.m-new-note {
  background-color: #ff3366 !important;
  position: fixed;
  right:    55px;
  bottom:   70px;
}

.m-plus {
  color: #fff;
}

.m-note-card {
  margin: 30px 1%;
  float: left;
  width: 48%;
  height: 120px;
}

.m-note-card p {
  font-size: 14px;
}

h3.m-title {
  color: #50D2C2;
}

.note-card-content {
  padding: 20px;
}

.m-note-card {
  border: 1px solid;
}

.note-positioner {
  max-width: 815px;
  margin: 100px auto;
}

@media (min-width: 489px) and (max-width: 540px) {
  .m-note-card {
    height: 150px;
  }
}

@media (max-width: 489px) {
  .m-note-card {
    margin: 30px 2%;
    width: 96%
  }
}

@media (max-width: 599px) {
  .f-tools {
    float: left;
    margin-right: 16px;
    padding-top: 10px;
  }
}
