#main-app .sidebar {
  position: relative;
  background-color: #ebebeb;
  min-height: 600px;
  padding: 0;
}

.notes-list .list {
  margin: 0px !important;
}

.notes-list ul li {
  background-color: #ebebeb;
  cursor: pointer;
  transition: background-color .2s;
}

.notes-list ul li:hover {
  background-color: #40D2C3;
  transition: background-color .2s;
  color: #fbfbfb;
}

/*.notes-list ul li h2 {
  font-size: 1.3em;
  margin: 0;
}
.notes-list ul li p {
  margin: 5px 0 0;
  font-size: 0.9em;
}*/

.add-new-note {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  background-color: #FF2F66;
  transition: background-color .3s;
  cursor: pointer;
}

.add-new-note:hover {
  background-color: #40D2C3;
  color: #fbfbfb;
  transition: background-color .3s;
}

.active {
  background-color: #fff !important;
  color: #212121 !important;
}
