#main-app .sidebar {
  position: relative;
  background-color: #aaa;
  height: 100%;
  padding: 0;
}


.notes-list ul li {
  background-color: #999;
  padding: 35px 30px;
  cursor: pointer;
  transition: background-color .3s;
}

.notes-list ul li:hover {
  background-color: #888;
  transition: background-color .3s;
}

.notes-list ul li.active {
  background-color: #fff;
}

.notes-list ul li h2 {
  font-size: 1.3em;
  margin: 0;
}
.notes-list ul li p {
  margin: 5px 0 0;
  font-size: 0.9em;
}

.add-new-note {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: #006699;
  transition: background-color .3s;
  cursor: pointer;
}

.add-new-note:hover {
  background-color: #005588;
  transition: background-color .3s;
}
