<div id="header" class="container-fluid">
  <div class="row ">
    <div class="search-bar col-xs-3">
      <div id="logo">
        <h1>CROW</h1>
      </div>
    </div>
    <div class="tool-bar col-xs-9">

      <div class="pull-right">
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle group" data-toggle="dropdown">
              <i>Chiemeka&nbsp; &nbsp;</i>
              <i class="avatar">Avatar</i>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a ng-click="addBgColor()" href=""><i class="icon-cog"></i>Toggle background image</a></li>
              <li><a href="#"><i class="icon-off"></i>Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
