<div class="notes-area col-xs-9" ng-init="selectNote(0)">
  <div class="editor">
    <div class="toolbox">
      <div>
        <ul>
          <li ng-repeat="tool in toolbox" class="wrapper">
            <i class="mdi mdi-{{tool.icon}}"></i>
            <div class="tooltip">{{tool.tip}}</div>
          </li>
        </ul>
      </div>
    </div>
    <input type="text" class="title" value="{{editNote.title}}" placeholder="Untitled">
    <textarea placeholder="Type your note here...">{{editNote.text}}</textarea>
  </div>
</div>
