<li class="single-list list-row list-row--multi-line" >
  <div class="list-row__content">
    <span class="display-block fs-body-1 tc-black-2">{{ note.lastEdited | date }}</span>
    <span class="display-block fs-title mb">{{ note.title }}</span>
    <span class="display-block fs-ody-1">{{ note.excerpt }}</span>
  </div> 
  <span class="right">
    <i class="icon icon--s icon--green icon--flat mdi mdi-sync" style="visibility: hidden;"></i>
    <i class="icon icon--s icon--white icon--flat mdi mdi-sync" style="color: #fafafa;"></i>
  </span>
  <span ng-click="deleteNote(note,$index)" class="right deleteBtn"><img src="imgs/delete.png"></span>      
</li>