<div class="sidebar col-xs-3">
  <div class="notes-list">
    <ul class="list mt++">
      <li class="list-row list-row--multi-line list-row--has-separator" 
      ng-repeat="note in allNotes track by $index" 
      ng-class="{'active': note.isSelected }" ng-click="selectNote($index)">
        <div class="list-row__content" ng-mouseover="hoverIn($event)">
          <span class="display-block fs-body-1 tc-black-2">5 minutes ago.</span>
          <span class="display-block fs-title mb">{{ note.title }}</span>
          <span class="display-block fs-body-1">{{ note.body }}</span>
        </div>

        <span class="delete" style="padding: 27px 0px;">
          <i class="icon icon--xs icon--black icon--flat mdi mdi-delete"></i>
        </span>

        <div class="list-row__secondary" ng-show="note.isSelected">
          <i class="icon icon--s icon--green icon--flat mdi mdi-sync"></i>
          <!-- <i class="icon icon--s icon--amber icon--flat mdi mdi-sync-alert"></i> -->
        </div>
        
      </li>
    </ul>
  </div>

  <div class="add-new-note">
    <i class="icon icon--xl icon--white icon--flat mdi mdi-plus"></i>
  </div>
</div>
