<div class="sidebar col-xs-3">
  <div class="notes-list">
    <ul class="list mt++">
      <li class="list-row list-row--multi-line" ng-repeat="note in allNotes track by $index" 
      ng-class="{'active': note.isSelected }" ng-click="selectNote($index)">
        <div class="list-row__content" ng-mouseover="hoverIn(note)" ng-mouseleave="hoverOut(note)">
          <span class="display-block fs-body-1 tc-black-2">5 minutes ago. 
            <span ng-show="note.isSelected" class="right"><i class="icon icon--s icon--green icon--flat mdi mdi-sync"></i></span>
            <span ng-show="note.hovered" class="right" ng-click="deleteNote(note, $index)"><img src="imgs/delete.png"></span>
          </span>
          <span class="display-block fs-title mb">{{ note.title }}</span>
          <span class="display-block fs-body-1">{{ note.excerpt }}</span>
        </div>        
      </li>
    </ul>
  </div>

  <div class="add-new-note">
    <i class="icon icon--xl icon--white icon--flat mdi mdi-plus"></i>
  </div>
</div>
